/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.mainmenu-area ul {
    background-color: #26385a;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu-area li {
    display: inline-block;
}
.mainmenu-area a {
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    text-transform: uppercase;
}

.mainmenu-area ul li {
    position: relative;
}
.mainmenu-area ul li ul {
}
.mainmenu-area ul li ul {
    left: -20px;
    opacity: 0;
    position: absolute;
    top: 80px;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 105px;
}
.mainmenu-area ul li:hover ul {
    opacity: 1;
    visibility: visible;
}
.mainmenu-area ul li:hover ul {
    left: 0;
}
.mainmenu-area ul li:hover > a {
    background-color: red;
}
.mainmenu-area ul {
}
.mainmenu-area ul li ul a {
    padding-bottom: 10px;
    padding-left: 13px;
    padding-top: 10px;
}
.mainmenu-area ul li:hover ul {
    top: 51px;
}
.mainmenu-area ul li:hover ul ul{
    visibility: hidden;
    opacity: 0
}

.mainmenu-area ul ul li ul{
  transition: 0.5s;
  
  
}
.mainmenu-area ul ul li:hover > ul {
    top: 0;
    left: 101px;
    visibility: visible;
    opacity: 1;
}
